
@font-face {
    font-family: HelveticaNeue;
    src: url('fonts/HelveticaNeue.ttf')
}

body {
    font-family: HelveticaNeue;
    display: flex;
    justify-content: center;
}

#wrapper {

    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}


#credentials {
    border: 1px solid lightgrey;
    border-radius: 5%;

}

label {
    padding-left: 10px;
    font-weight: bold;
    font-size: small;
}

#signIn {
    font-size: larger;
    font-weight: bold;
}

.borderForSignin {
    border-bottom: 1px solid lightgrey;

}

input {
    width: 50%;
    padding: 12px 20px;
    border: 0px solid;
}

form:focus, input:focus {
    outline: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #33B833;
}

#signIn {
    margin: 5%;
}

#recovery {
    margin: 3%;
    padding-bottom: 5px;
}